*{
    margin: 5px;
    padding: 5px;
 }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(221, 206, 206);
  }

  header {
      padding: 20px 30px;
      background-color: lightpink;
   
      
  }
  
  header h1{
      font-weight: bolder;
      font-size: 36px;
      color: darkblue;
      margin: 0;
      display: inline;
      margin-left: 55px;
      background: #5252;
      
  }
   header a {
      font-weight: bolder;
      text-decoration: none;
  }
 /* .container {
      max-width: 1100px;
      margin: auto;
  }*/

  #navbar {
      display: inline;
      justify-content: space-between;
      padding: 20px 10px;
      margin-left: 10px;
      text-decoration: none;
      font-size: 22px;
      float: right;
         
  }
 #navbar ul {
      display: flex;
      align-items: right;
      list-style: none;
      padding: 0px 20px;
  }

  #navbar li a {
      padding: 10px 10px;
      margin: 0 10px;
      text-decoration: none;
      border-radius: 5px;

  }
  #navbar li a:hover {
      background-color: pink;
  }

  /*footer style*/
  footer{
      background: lightpink;
      width: 100%;
      padding: 20px;
      margin: 150px 0px;
      
  }
  footer h3 {
      display: inline;
      color: blue;
      float: right;
      line-height: 1;
      text-align: center;
      
      margin-right: 100px;
      font-size: small;
      box-sizing: border-box;
      padding: 0px 20px;
  }
  /* hero Styles*/
  .hero {
      padding: 100px;
      background-image: url("../hero.jpg");
      height: 1.0vh;
      flex: auto;
      
          
      }
  .hero h2 {
      float: right;
      color: darkblue;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 5px 50px;
      margin-top: 60px;
      
  }

  /* Section About Me */
  

 .aboutme h2{
      float: left;
      font-size: 30px;
      color: blue;
      margin-top: 10px;
      margin-bottom: 50px;
      margin-left: 35px;
      border-right: 3px solid;
      border-color: darkred;
      text-align: right;  
      padding: 10px 30px; 
      display: flex; 
          
  }
   .aboutme p {
      margin: 10px 80px;
      text-align: justify;
      padding: 25px 20px 25px 50px;
      display: flex;
      color: blue;
  }

  /*My Work Section*/
 .mywork h2{
      float: left; 
      display: flex;
      margin: 10px 50px;
      text-align: right;
      padding: 10px 30px;
      border-right: 3px solid;
      border-color: darkred;
      font-size: 30px;
      color: blue;
      
  }
  
  .container {
    display: grid;
    grid-template-columns: 300px 180px 180px;
    grid-gap: 15px;
    grid-template-rows: auto auto auto auto auto;
  }
  .item {
    color: blue;
    padding: 2em 0;
    font-size: 20px;
    
  }
  
  .a {
    background-image: url("../images/comingsoon.jpg");
    
  }
  
  .b {
    background-image: url("../images/pink.jpg");
  }
  
  .c {
    background-image: url("../images/work.jpg");
    
  }
  
  .d {
    background-image: url("../images/runbuddy.jpg");
  }
  
  .e {
    background-image: url("../images/birds.jpg");
  }
    
  .c {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    
    /*grid-row: head-row-end / content-row-end;*/
   
    /*width: 500px;*/
  }
  /*Contact Me*/
  .d {
    grid-row: 1/2;
  }

  .contactme h2{
      display: flex;
      float:left;
      border-right: 3px solid;
      margin: 10px 40px; 
      padding: 10px 15px;
      text-align: right;
      font-size: 30px;
      border-color: darkred;
      color: blue;
      
      
  }
  .contactme ul{
     font-size: 20px;
     list-style: none;
     
     margin-right: 15px;
     
     
     padding: 75px 75px 0;
     
  }
  .contactme ul li {
      display: inline;
      padding: 20px 50px 75px;
      color: blue;m
  }
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header h1 {
      /* this will be applied on any screen between 768px and 575px */
      font-size: 80px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header h1 {
      /* this will be applied on any screen smaller than 575px */
      font-size: 100px;
    }
  }