*{
    margin: 5px;
    padding: 5px;
    
 }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(221, 206, 206);
  }

  header {
      padding: 20px 30px;
      background-color: lightpink;
  }
  
  header h1{
      font-weight: bolder;
      font-size: 36px;
      color: darkblue;
      margin: 0;
      display: inline;
      margin-left: 55px;
      background: #5252;
      
  }
   header a {
      font-weight: bolder;
      text-decoration: none;
  }
 
/* Navbar styles*/
  #navbar {
      display: inline;
      padding: 5px 10px;
      margin-left: 5px;
      text-decoration: none;
      font-size: 22px;
      float: right;
      overflow: hidden;
              
  }
 #navbar ul {
      display: flex;
      align-items: right;
      list-style: none;
      padding: 0px 10px;
      float: none;
      width: 100%;
  }

  #navbar li a {
      display: flex;
      padding: 5px 10px;
      margin: 0 10px;
      text-decoration: underline;
      border-radius: 5px;

  }
  #navbar li a:hover {
      background-color: pink;
      color: blue;
  }

  /*footer style*/
  footer{
      background: lightpink;
      width: 100%;
      padding: 20px;
      margin-bottom: 0px;
      
  }
  footer h3 {
      display: inline;
      color: blue;
      float: right;
      line-height: 1;
      margin-right: 100px;
      font-size: small;
      box-sizing: border-box;
      padding: 0px 20px;
  }
  /* hero Styles*/
  .hero {
      padding: 100px;
      background-image: url("../hero.jpg");
      height: 1.0vh;
      flex: auto;
      
          
      }
  .hero h2 {
      float: right;
      color: darkblue;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 22px;
      padding: 5px 50px;
      margin-top: 60px;
      
  }

  /* Section About Me */
  

 .aboutme h2{
      float: left;
      font-size: 30px;
      color: blue;
      margin-top: 10px;
      margin-bottom: 50px;
      margin-left: 35px;
      border-right: 3px solid;
      border-color: darkred;
      text-align: right;  
      padding: 10px 30px; 
      display: flex; 
          
  }
   .aboutme p {
      margin: 10px 80px;
      text-align: justify;
      padding: 25px 20px 25px 50px;
      display: flex;
      color: blue;
  }

  /*My Work Section*/
 .mywork h2{
      float: left; 
      display: flex;
      margin: 10px 50px;
      text-align: right;
      padding: 10px 30px;
      border-right: 3px solid;
      border-color: darkred;
      height: 350px;
      font-size: 30px;
      color: blue;
      
  }
  
  /* css grid styles*/
  .container {
    display: grid;
    
    width: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-rows: 1fr 1fr 1fr;
       
  }
 
  .item {
    color: white;
    padding: 2em 0;
    font-size: 20px;
    border-color: 2px pink;
    
    align-items: left;
    text-align: end;
 }
  
  .a {
    background-image: url("../images/comingsoon.jpg");
    z-index: 2;
  }
  
  .b {
    background-image: url("../images/pink.jpg");
    z-index: 2;
  }
  
  .c {
    background-image: url("../images/wavepink.jpg");
    z-index: 2;
    grid-row: 1/3;
    grid-column: 1/3;
    
  }
  .c :hover {
    Opacity: 0.5;
  }
  
  .d {
    background-image: url("../images/runbuddy.jpg");
     z-index: 2;
  }
  .d :hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }
  
  .e {
    background-image: url("../images/birds.jpg");
  }
    
  .c {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    z-index: 2;
    
  }
  .d {
    grid-row: 1/2;
    z-index: 2;
  }

  .contactme h2{
      display: flex;
      float:left;
      border-right: 3px solid;
      margin: 10px 40px; 
      padding: 10px 15px;
      text-align: right;
      font-size: 30px;
      border-color: darkred;
      color: blue;
      
      
  }
  .contactme ul{
     font-size: 20px;
     list-style: none;
     
     margin-right: 15px;
     
     
     padding: 75px 25px 0;
     
  }
  .contactme ul li {
      display: inline;
      padding: 20px 20px 50px;
      color: blue;
    
    }
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  #navbar ul {
    margin-top: 20px;
    
  }

  #navbar ul li a {
    font-size: 20px;
  }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header h1 {
      grid-column: span 1 !important;
      font-size: 80px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header h1 {
      font-size: 80px;
    }
    #navbar ul a{
      margin: 10px 0;
      padding: 20px 5px;
     
    }
  }